:root {
    --text-color: #fff; 
    --text-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}


body{
    background-color: #141414;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


                /* input container styling */

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    margin-top: 30px;
    border-radius: 4px;
    font-size: var(--text-size);
}

.input-container input[type="text"] {
    width: 75%;

}

.input-container input[type="button"] {  
    background-color: #5e548e;
    color: #fff;
    font-weight: 600;
    /* margin-left: 3px; */
    cursor: pointer;
    padding: 12px 25px;
}

.input-container input[type="button"]:hover{
    background-color: #9f86c0;

}


                /*  ul list styling */
ul{
    width: 70%;
    max-width: 450px;
} 

ul li{
    list-style: none;
    cursor: pointer;
    border-radius: 8px;
    border: 0.125px solid #a19f9f;
    margin-block: 10px;
    padding: 6px 12px;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s;
    font-size: var(--text-size);
    font-weight: 200;
}
ul li:hover{
    background-color: #343a40;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
}



                    /* buttons styling */

.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    padding: 12px;
    margin: 2px;
    cursor: pointer;
    font-weight: 400;
}

.editBtn {
    color: #c77dff;
    font-size: var(--text-size);
}
.delBtn {
    color: #ee1932;
    font-size: var(--text-size);
}

@media screen and (max-width: 480px){
    .input-container input[type="button"] {
        width: 75%;
    }
}